.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 20px;
  &:last-child {
    margin-right: 0;
  }
}

.containerInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}